/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  //that defines what rem is
  font-size: 62.5%; // percentage over default browser, typically 16px
}

body {
  box-sizing: border-box;
}
